extends index
block content
    h2 Modyfikuj dane o Zwierzęciu
    form(method='POST' action='/wypisz')
        select#edytuj(name="edytuj")
            each variable in listaksiazek
                option(value=variable.tytul) #{variable.tytul + ", tytul: " + variable.tytul + ", autor: " + variable.autor}
        button(type='submit') Modyfikuj
    if message!=''
        p #{message}