doctype html
html(lang='pl')
    head
        title='Ksiegozbior'
    body
        nav
            ul
                li
                    a(href="/home") Home
                li
                    a(href="/lista") Lista
                li
                    a(href="/dodaj") Dodaj
                li
                    a(href="/usun") Usuń
                li
                    a(href="/edytuj") Modyfikuj
        main#main
            block content
        footer#footer
            p.fotter-paragraf Web Apps Projekt zaliczeniowy - Sylwester Cieślik